$color-primary: #af9a7d;
$color-white: #ffffff;
$light-white: #f7f7f7;
$color-black: #222222;
$color-grey: #ececec;
$dark-grey: #cfcfcf;
$mainTransition: all 0.3s linear;
$mainSpacing: 3px;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);